[Unit]
Description=Revert Pi from router settings
After=network.target

[Service]
WorkingDirectory=/home/pi/
ExecStart=/usr/bin/python3 /home/pi/revert.py
User=pi

[Install]
WantedBy=multi-user.target

