[Unit]
Description=flask app
After=network.target

[Service]
WorkingDirectory=/home/pi/boot/
ExecStart=/usr/bin/python3 /home/pi/boot/app.py
User=pi

[Install]
WantedBy=multi-user.target

