body {
	width: 100%;
}

.container {
	padding: 20px;
	align-content: center;
}

.form-group {
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
}

.invisible {
	display: none;
}

.form-info p {
	font-size: 0.9rem;
}

#heading {
	padding-top: 15px;
}

img {
	max-height: 100px;
}

.btn {
	background: #e39241;
	color: white;
}

#body {
	max-width: 700px;
}

#error {
	background: #d8d8d8;
	border-radius: 1%;
	width: 80%;
	margin: auto;
}

#error p {
	margin: 0;
}