<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pi Wifi Set Up</title>

	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="static/styles.css">
</head>
<body>

	<div class="container" id="body">
		<div id="heading">
			<img src="static/images/ACCESS_LOGO_SQUARE_violet_drop1.png">
		</div>
		<h1 class="h4">An Error Occured</h1>

		<p>The Access Station failed to detect WiFi networks, please be sure the device is within reach of your router.</p>

	</div>

</body>
</html>